<% provide(:title, 'Editar Usuario') %>
<div class="center hero-unit">
  	<h1>Nuevo Usuario</h1>
  	<% if flash[:error] %>
      	<div class="mensajes_error">
      		<p><%= flash[:error] %><p>
      			<% if @usuario.errors.any? %>
					  <div id="error_explanation">
						    <div class="alert alert-error">
						      	The form contains <%= pluralize(@usuario.errors.count, "error") %>.
						    </div>
						    <ul>
							    <% @usuario.errors.full_messages.each do |msg| %>
							      	<li>* <%= msg %></li>
							    <% end %>
						    </ul>
					  </div>
				<% end %>
      	</div>
    <% end %>
  	<div class="form_puntos origen">
		<%= form_for @usuario, :url => usuarios_editar_path(@usuario) do |form| %>
			<% if @usuario.errors.any? %>
				<div id="error_explanation">
				<div class="alert alert-error">
					The form contains <%= pluralize(@usuario.errors.count, "error") %>.
				</div>
				<ul>
				<% @usuario.errors.full_messages.each do |msg| %>
					<li>* <%= msg %></li>
				<% end %>
				</ul>
				</div>
			<% end %>
			<fieldset class="fields">
				<div class="field control-group">
					<%= form.label :name %>
					<%= form.text_field :name %>
				</div>

				<div class="field control-group">
					<%= form.label :email %>
					<%= form.text_field :email %>
				</div>

				<div class="field control-group">
					<%= form.label :cantidad_bots %>
					<div class="input-append">
						<%= form.text_field :cantidad_bots, {class: "span1 cantidad_bots", id: "appendedInputButtons", style: "display:none;"} %>
						<span class="span1 uneditable-input cantidad_bots_view"><%= @usuario.cantidad_bots %></span><button class="btn resta" type="button" onclick="cambiar('resta');">-</button><button class="btn" type="button" onclick="cambiar('sumar');">+</button>
						<script>
							function cambiar(operacion) {
								var valor = parseInt($(".cantidad_bots").val());
								if (operacion == "sumar") {
									valor = valor + 1;
								} else {
									valor = valor - 1;
								}
								$(".cantidad_bots").val(""+valor);
								$(".cantidad_bots_view").html(valor);

								if (valor == 0) {
									$('button.resta').attr("disabled", "disabled");
								} else {
									$('button.resta').removeAttr("disabled");
								}
							}
						</script>
					</div>
				</div>

				<div class="field control-group">
					<%= form.label :perfil %>
					<%= form.select(:perfil, [["Usuario", 0], ["Administrador", 1]], {}, { :class => 'span2' })%>
				</div>
			</fieldset>

			<fieldset class="actions">
				<%= form.submit "Guardar", class: "btn btn-large btn-primary" %>
			</fieldset>
		<% end %>
	</div>
</div>