<% provide(:title, 'Editar Usuario') %>
<div class="center hero-unit">
  	<h1>Nuevo Usuario</h1>
  	<% if flash[:error] %>
      	<div class="mensajes_error">
      		<p><%= flash[:error] %><p>
      			<% if @usuario.errors.any? %>
					  <div id="error_explanation">
						    <div class="alert alert-error">
						      	The form contains <%= pluralize(@usuario.errors.count, "error") %>.
						    </div>
						    <ul>
							    <% @usuario.errors.full_messages.each do |msg| %>
							      	<li>* <%= msg %></li>
							    <% end %>
						    </ul>
					  </div>
				<% end %>
      	</div>
    <% end %>
  	<div class="form_puntos origen">
		<%= form_for @usuario, :url => usuarios_editar_path(@usuario) do |form| %>
			<% if @usuario.errors.any? %>
				<div id="error_explanation">
				<div class="alert alert-error">
					The form contains <%= pluralize(@usuario.errors.count, "error") %>.
				</div>
				<ul>
				<% @usuario.errors.full_messages.each do |msg| %>
					<li>* <%= msg %></li>
				<% end %>
				</ul>
				</div>
			<% end %>
			<fieldset class="fields">
				<div class="field control-group">
					<%= form.label :name %>
					<%= form.text_field :name %>
				</div>

				<div class="field control-group">
					<%= form.label :email %>
					<%= form.text_field :email %>
				</div>

				<div class="field control-group">
					<%= form.label :cantidad_bots %>
					<%= form.text_field :cantidad_bots %>
				</div>

				<div class="field control-group">
					<%= form.label :perfil %>
					<%= form.select(:perfil, [["Usuario", 0], ["Administrador", 1]])%>
				</div>
			</fieldset>

			<fieldset class="actions">
				<%= form.submit "Guardar", class: "btn btn-large btn-primary" %>
			</fieldset>
		<% end %>
	</div>
</div>