<% provide(:title, "Administración de Usuarios") %>
<div class="center hero-unit">
	<h1>Administración</h1>
	<%= render "layouts/menu" %>
	<% if flash[:notice] %>
      	<p class="notice"><%= flash[:notice] %></p>
    <% end %>
	<div class="administracion">
		<div class="admin-variables">
			<h1>Variables de Sistema</h1>
			<table>
				<tr>
					<th>Variable</th>
					<th>Valor</th>
					<th>Acciones</th>
				</tr>
				<% @variables.each do |variable| %>
					<tr>
						<%= form_for variable, :url => variable_path(variable) do |form| %>
							<td><%= variable.key %></td>
							<td><%= form.text_field :value %></td>
							<td><%= form.submit "Cambiar", class: "btn btn-small btn-success" %></td>
						<% end %>
					</tr>
				<% end %>
			</table>
		</div>
		<div class="admin-usuario">
			<h1>Usuarios</h1>
			<table>
		    	<tr>
		            <th>Nombre</th>
		            <th>E-Mail</th>
		            <th>Followkeywords</th>
		            <th>Perfil</th>
		            <th>Acciones</th>
		    	</tr>
				<% @usuarios.each do |usuario| %>
					<tr>
						<td><%= usuario.name %></td>
						<td><%= usuario.email %></td>
						<td>
							<div>Registrados: <%= usuario.bots.count %></div>
		                    <div>Máximo: <%= usuario.cantidad_bots %></div>
						</td>
						<td>
							<% if usuario.perfil == 1 %>
								Administrador
							<% else %>
								Usuario
							<% end %>
						</td>
						<td>
		                    <div class="btn-toolbar">
		                        <div class="btn-group">
		                            <%= link_to "<i class='icon-edit icon-white'></i>".html_safe, usuarios_editar_path(usuario), class: "btn btn-mini btn-info", title: "Editar Usuario" %>
		                            <%= link_to "<i class='icon-tags icon-white'></i>".html_safe, usuarios_bots_path(usuario), class: "btn btn-mini btn-info", title: "FollowKeywords de Usuario" %>
		                            <% if usuario.id == @user.id %>
		                            	<span class="btn btn-mini btn-danger disabled" title="Eliminar Usuario"><i class='icon-trash icon-white'></i></span>
		                            <% else %>
		                            	<%= link_to "<i class='icon-trash icon-white'></i>".html_safe, usuarios_eliminar_path(usuario), class: "btn btn-mini btn-danger", title: "Eliminar Usuario", :confirm => "Seguro que quieres eliminar este usuario?" %>
		                            <% end %>
		                        </div>
		                    </div>
		                </td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>