<% provide(:title, 'Agregar Palabras') %>
<div class="center hero-unit">
  	<h1>Nueva Palabra para <%= @bot.nombre %></h1>
	<%= render "layouts/menu" %>
  	<% if flash[:error] %>
      	<p class="error"><%= flash[:error] %></p>
    <% end %>
  	<div class="form_puntos origen">
		<%= form_for @palabra, :url => bot_agregar_palabra_path(@bot) do |form| %>
			<fieldset class="fields">
				<div class="field control-group numero">
					<%= form.label :palabra %>
					<%= form.text_field :palabra %> 
				</div>
				<% if (@bot.plus == true) %>
					<br/>
					<div>
						<h3>Funcionalidades Plus</h3>
						Puedes enviar mensajes personalizados a los usuarios cuando se encuentre un tweet con la palabra ingresada y se comience a seguir.<br/>
						Por seguridad, solo se enviaran 5 mensajes por hora (para todos los casos).
					</div>
					<br/>
					<div class="field control-group numero">
						<%= form.label :frase %>
						<%= form.text_field :frase %> 
					</div>
				<% end %>
			</fieldset>

			<fieldset class="actions">
				<%= form.submit "Guardar", class: "btn btn-large btn-primary" %>
			</fieldset>
		<% end %>
	</div>
</div>