

<div class="center hero-unit">
  	<h1>FollowKeyWords en el Sistema</h1>
	<%= render "layouts/menu" %>
	<% if flash[:notice] %>
      	<p class="notice"><%= flash[:notice] %></p>
    <% end %>
	<%if @bots.count <= 0 %>
	<p>No tienes ningún FollowKeyWord. <%= link_to "Haz click aquí para agregar uno.", bot_nuevo_path %> </p>
	<%else %>
    <table>
    	<tr>
            <th>Nombre</th>
    		<th>Cuenta Twitter</th>
    		<th>Asociados</th>
            <th>Configuración</th>
            <th>Estadísticas</th>
    		<th>Acciones</th>
    	</tr>
    	<% @bots.each do |bot| %>
	    	<tr>
                <td><%= bot.nombre %></td>
	    		<td><%= link_to "@"+bot.tw_cuenta, "http://twitter.com/"+bot.tw_cuenta, target: "_blank" %></td>
	    		<td>
                    <div><%= bot.palabras.length %> Palabras</div>
                    <div><%= bot.botCiudads.length %> Ciudades</div>
                </td>
                <td>
                    <div>Seguir por Hora: <%= bot.cantidad_seguir %></div>
                    <div>Verificar Cada: <%= bot.verificar_seguido %> dias</div>
                    <div>
                        Última Renovación: <%= bot.fecha_renovacion.strftime("%d/%m/%Y") %>
                        <% if @user.perfil == 1 %>
                            <%= link_to "Renovar", renovar_bot_path(bot), class: "btn btn-mini btn-success", title: "Renovar por 31 días" %>
                        <% end %>
                    </div>
                    <div>
                        Plus: <%= (bot.plus == true) ? 'Si'  : 'No'; %>
                        <% if @user.perfil == 1 %>
                            <% if (bot.plus == true) %>
                                <%= link_to "Desactivar", plus_bot_path(bot), class: "btn btn-mini btn-danger", title: "Desactivar Plus" %>
                            <% else %>
                                <%= link_to "Activar", plus_bot_path(bot), class: "btn btn-mini btn-success", title: "Activar Plus" %>
                            <% end %>
                        <% end %>
                    </div>
                </td>
                <td>
                    <div>Inicial: <%= bot.followers_count %></div>
                    <div>Seguidos x FK: <%= bot.siguiendo %></div>
                    <div>Han Seguido: <%= bot.seguidores %></div>
                </td>
	    		<td>
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <% if bot.estado == 0 %>
                                <% if bot.palabras.length > 0 && bot.botCiudads.length > 0 %>
                                    <%= link_to "<i class='icon-play icon-white'></i>".html_safe, bot_on_path(bot), class: "btn btn-mini btn-success", title: "Encender FK", :confirm => "Seguro que quieres encender este Followkeyword?" %>
                                <% else %>
                                    <span class="btn btn-mini btn-success disabled" title="Agrega al menos una palabra y una ciudad al FK"><i class='icon-play icon-white'></i></span>
                                <% end %>
                            <% else %>
                                <%= link_to "<i class='icon-stop icon-white'></i>".html_safe, bot_off_path(bot), class: "btn btn-mini btn-danger", title: "Apagar FK", :confirm => "Seguro que quieres apagar este Followkeyword?" %>
                            <% end %>
                            <%= link_to "<i class='icon-edit icon-white'></i>".html_safe, bot_editar_path(bot), class: "btn btn-mini btn-info", title: "Editar FK" %>
							<% if @user.perfil == 1 %>
                                <%= link_to "<i class='icon-trash icon-white'></i>".html_safe, bot_eliminar_path(bot), class: "btn btn-mini btn-danger", title: "Eliminar FK", :confirm => "Seguro que quieres eliminar este Followkeyword?" %>
                            <% end %>
                        </div>
                    </div>
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <%= link_to "Palabras", bot_palabras_path(bot), class: "btn btn-mini", title: "Palabras asociadas al Followkeyword" %>
                            <%= link_to "Ciudades", bot_ciudades_path(bot), class: "btn btn-mini", title: "Ciudades asociadas al Followkeyword" %>
                            <%= link_to "Tweets", bot_tweets_path(bot), class: "btn btn-mini", title: "Tweets que se han seguido con el Followkeyword" %>
                        </div>
                    </div>
                </td>
	    	</tr>
	    <% end %>
		<% end %>
    </table>
</div>